/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
// Banner
.banner {
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}

// Search Criteria style

.search-criteria {
	color: black;
}

select {
  background: white;
}

button {
  background: #0398B8;
}

// Welcome body

.middleup {
 text-align: center;
 background: url(https://wallpaperscraft.com/image/yacht_palm_tree_blue_water_inclination_46698_3840x2400.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 color: white;
 padding: 30px 30px;
}

.middledown {
 text-align: center;
 color: black;
 padding: 30px 30px;
}


.fiche {
 display: inline-block;
 padding: 0px 100px;
 width: 200px;
}

.space {
 padding: 20px;
}

.lescartes {
padding: 0px 50px;
}

.thumbnail img {
 height: 242px;
}
