<h1>How Saily works</h1>

<h2>Ditch the hotel. Hit the deck.</h2>

<p>1. Select your favorite destination country, and the dates you want to travel</p>
<p>2. Are you going to have a blast with your best friends, or will you be waking up to the sweetest smiles on the planet?</p>
<p>3. Choose the sail yacht for your holiday</p>
