<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('./images/bannerboat.jpg');">
  <div class="banner-content">
    <h1>HOW SAILY WORKS</h1>
    <p>Ditch the hotel. Hit the deck.</p>

<br>
<br>
<br>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>1.</h1><br><p>Select your favorite <br> destination country</p>
      </div>
      <div class="col-md-4">
        <h1>2.</h1><br><p>Browse through our yachts <br> and tour routes</p>
      </div>
      <div class="col-md-4">
        <h1>3.</h1><br><p>Choose your <br> dream holiday</p>
      </div>
    </div>
  </div>

  </div>
</div>




