<!-- Banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('./images/bannerboat.jpg');">
  <div class="banner-content">
    <h1>THE BEST WAY TO EXPERIENCE SUMMER</h1>
    <p>ISLAND-HOPPING ON YOUR OWN PRIVATE YACHT WITH A CAPTAIN</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>