<!-- Banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('./images/bannerboat.jpg');">
  <div class="banner-content">
    <h1>THE BEST WAY TO EXPERIENCE SUMMER</h1>
    <p>ISLAND-HOPPING ON YOUR OWN PRIVATE YACHT WITH A CAPTAIN</p>
    
	<!-- Search Criteria -->

	<div class="container">
	  <div class="row">
	    <div class="col-xs-12 col-sm-6 col-sm-offset-3">        
	      <div class = search-criteria>
	        <select>
	          <option value="">All Countries</option>
	          <option value="1">Greece</option>
	          <option value="3">Croatia</option>
	          <option value="2">Spain</option>
	          <option value="4">Turkey</option>
	        </select>

	        <select>
	          <option value="">Any Duration</option>
	          <option value="0">Daily</option>
	          <option value="1-3">1 - 3 nights</option>
	          <option value="4-6">4 - 6 nights</option>
	          <option value="7">1 week</option>
	        </select> 

	        <select name="q[capacity]" id="q_capacity">
	          <option value="">All Group Sizes</option>
	          <option value="0-6">Up to 6</option>
	          <option value="7-8">8</option>
	          <option value="9-99">More than 8</option>
	        </select>

	        <button>Search</button>
	      </div>
	    </div>
	  </div>
	</div>
  </div>
</div>