// Your footer style
.footer {
  background-color: #333333;
  color: #CCCCCC;
  margin-bottom: 0;
  padding: 25px;
}

.list-inline {
  font-size: 200%;
}

#contact {
  color: #808080;
  font-size: 50%;
}

#footer {
  width: 100%;

  bottom: 0;
}
